<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripPlanning">

        <!-- Tela 1: e por onde o aplicativo comeca -->
        <activity
            android:name=".ui.setup.TripSetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela 2: aberta pela tela 1, nunca direto pelo sistema -->
        <activity
            android:name=".ui.attractions.AttractionListActivity"
            android:exported="false"
            android:label="@string/title_attraction_list"
            android:parentActivityName=".ui.setup.TripSetupActivity" />

    </application>

</manifest>
